body{
    width: 100vw;
    min-height: 100vh;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    background: url("../img/abstract-3170825_960_720.jpg") center center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    
    #container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 50px;
        width: 80%;
        background: rgba(212, 212, 212, 0.788);
        border-radius: 10%;

        #photo{
            object-fit: scale-down;
            max-height: 250 px;
            border-radius: 50%;
        }
    }

}


